<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dosezy" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Dosezy" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!--

0. SplashActivity
1. NewUserActivity - 3 Fragments
2. HomeActivity
3. ScheduleActivity
4. MedicinesActivity
5. MenuActivity


1. Profile Dialog
2. NotifStatus Dialog
3. Export Dialog

Add Medicine
Edit Medicine

Manage Profile
Switch Profile

Preferences
Emergency
HelpSupport


-->